<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Silver Screens</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/hpstyle.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Silver Screens</a>
      </h1>
        {{#if loggedIn}}
      
       <nav>
       
         <a href="/dashboard">Home</a>
      <button id="logout" class="btn-no-style">logout</button>
      {{else}}
      <a href="/login">login</a>
      {{/if}}
    </nav>
  </header>
    </header>
      
    <main>

        <!-- Search bar section -->
     <div class="searchbar" id="searchWrapper">
           <input
           type = "text"
           name="searchBar"
           id="searchBar"
           placeholder="search for movie">
          <button type="submit">Search</button>
         </div>

      <div class = "container">
         
      <ul id="movieList"></ul>
      </div>
      {{{ body }}}
      <div class = "container">
         
      <ul id="movieList"></ul>
      </div>
    </main>
    <footer>
      See You Soon!
    </footer>
  </div>
  {{#if loggedIn}}
<script src="/javascript/app-copy.js"></script>
<script src="/javascript/logout.js"></script>
{{/if}}
</body>

</html>