<section>
  <h2>Movies</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-url">Link</label>
      <input id="post-url" name="post-url" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if movies.length}}
<section>
  <h2>Your Movies</h2>
  <ol>
    {{#each movies as |movie|}}
    <li>
      {{> movie-info movie}}
      <a href="/dashboard{{movie.id}}" class="edit-link">Edit movie</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

{{!-- <script src="/public/javascript/login.js"></script> --}}
<script src="/public/javascript/app-copy.js"></script>