:root {
  --primary-color:  rgb(47, 178, 201);;
  --secondary-color: #cf2222;
  --tertiary-color: #010e16;
}

* {
  background-color:#010e16;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: white;
}

.container {
  padding: 10px;
  margin: 10px auto;
  max-width: 1000px;
  text-align: center;
}

#movieList {
  padding-inline-start: 0;
  display: table-row;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 50px;
}

.movie {
  list-style-type: none;
  background-color: #5a5d5f;
  border-radius: 3px;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
      'name image'
      'house image';
  text-align: left;
}

.movie > h2 {
  grid-area: name;
  margin-bottom: 0px;
}

.movie > p {
  grid-area: house;
  margin: 0;
  margin-top: 18px;
}

.movie > img {
  max-height: 100px;
  grid-area: image;
}

#searchBar {
  width: 100%;
  display: center;
  justify-content: center;
  align-items: center;
  color:  #cf2222;
  border-color: #cf2222; 
  border-radius: 5px;
  border: 1px solid #eaeaea;
  padding: 10px 10px;
  font-size: 18px;
}

#searchWrapper {
  display: flex;
}

/* #searchWrapper::after {
  content: '🔍';
  position: absolute;
  top: 7px;
  right: 15px;
} */

.searchbar button:hover {
  background-color:#cf2222;
  color: white;
  padding: 8px;
  font-size: 15px;
  border-radius: 5px;
}